* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    background: #dcdcdc;
    border-bottom: 2px solid black;
}

/* CONTENEDOR */
.contenedor {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}

/* CAJAS */
.box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* ---------------- */
/* MOBILE */
/* ---------------- */

/* ocultamos A en móvil */
.a {
    display: none;
}

.izquierda, .derecha {
    display: flex;
    flex-direction: column;
}

/* B ocupa 2 filas */
.b {
    flex: 2;
}

/* fila C D */
.fila {
    display: flex;
}

.c, .d {
    flex: 1;
}

/* E abajo solo */
.e {
    width: 100%;
}

/* ---------------- */
/* DESKTOP */
/* ---------------- */
@media (min-width: 768px) {

    .contenedor {
        flex-direction: row;
    }

    .izquierda {
        flex: 1;
    }

    .derecha {
        flex: 1;
    }

    /* A ocupa 3 partes */
    .a {
        display: flex;
        flex: 3;
    }

    /* C abajo */
    .c {
        flex: 1;
    }

    /* B ocupa 3 partes */
    .b {
        flex: 3;
    }

    .fila {
        flex: 1;
    }

    .d, .e {
        flex: 1;
    }
}